{{>layouts/header}}
<div>
    {{#article}}
        {{id}} {{title}} {{content}}
    {{/article}}
</div>
<div>
    <a href="/articles/new">new article</a>
    <a href="/articles/{{id}}/edit">Edit</a>
    <a href="/articles/{{id}}/delete">Delete</a>
    <a href="/articles/list">Article List</a>
</div>

{{>layouts/header}}
