{{>layouts/header}}
<div>
    {{#article}}
        {{id}} {{title}} {{content}}
    {{/article}}
</div>
<div>
    <a class="btn btn-primary" href="/articles/new" role="button">New</a>
    <a class="btn btn-primary" href="/articles/{{id}}/edit" role="button">Edit</a>
    <a class="btn btn-primary" href="/articles/{{id}}/delete" role="button">Delete</a>
    <a class="btn btn-primary" href="/articles/list" role="button">Article List</a>
</div>

{{>layouts/footer}}
